<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cozio</title>
  </head>
  <body>
    <h3>Edit Your Listing</h3>
    <form>
      <input name="listing[title]" value="<%= listing.title %>" type="text" />
      <br /><br />
      <textarea
        name="listing[description]"
        type="text"
        value="<%= listing.description %>"
      >
      </textarea>
      <br /><br />
      <input
        name="listing[image]"
        type="text"
        value="<%= listing.image %>"
        type="text"
      />
      <br /><br />
      <input name="listing[price]" value="<%= listing.price %>" type="number" />
      <br /><br />
      <input
        name="listing[location]"
        type="text"
        value="<%= listing.location %>"
      />
      <br /><br />
      <input
        name="listing[country]"
        type="text"
        value="<%= listing.country %>"
      />
      <br /><br />
      <button>Edit</button>
    </form>
  </body>
</html>
